.search {
  display: flex;
  height: 40px;
  align-items: stretch;
  width: calc(100% - 2px);
  transform: translateX(1px);
  &__input {
    flex: 5;
    padding: 0 15px;
    border: none;
    border-top: 2px solid $purple;
    border-left: 7px solid $purple;
    outline: none;
    
    &:focus {
      background: #f5f5f5;
    }
  }
  &__submit {
    flex: 1;
    width: 200px;
    border: none;
    padding: 3px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }
}